<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default" />

<f:section name="Title">Signup</f:section>

<f:section name="Content">
    <div class="login-inner">
        <div>
            <h1 class="font-bold text-blue-900 text-xl text-center">Reset your password</h1>
            <h2 class="mb-4 text-md text-center">What’s your email address?</h2>
        </div>
        <f:form action="reset" method="post">
            <fieldset class="flex gap-3 sm:block">
                <input class="form-input" placeholder="email address" name="email" type="email" required>
            </fieldset>
            <div class="flex flex-col">
                <button class="btn btn-primary w-full mb-3 mx-auto flex justify-center" type="submit">
                    <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
                    <span>Send me a link</span>
                </button>
                {f:render(partial: 'Components/DefaultFooterLinks', arguments: { pwForgotten: false, login: true, signup: true })}
            </div>
        </f:form>
    </div>
</f:section>

</html>