<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<hr class="w-full h-0 mt-3 mb-4 border-b-gray-200">

<f:if condition="{pwForgotten} === true">
    <div class="text-center">Forgot your password? <f:link.action controller="PasswordForgotten" action="index" class="text-indigo-500 hover:text-indigo-400">Reset.</f:link.action></div>
</f:if>

<f:if condition="{login} === true">
    <div class="text-center">Already have an account? <f:link.action controller="Login" action="index" class="text-indigo-500 hover:text-indigo-400">Login.</f:link.action></div>
</f:if>

<f:if condition="{signup} === true">
    <div class="text-center">Don't have an account? <f:link.action controller="Registration" action="index" class="text-indigo-500 hover:text-indigo-400">Join now!</f:link.action></div>
</f:if>

</html>