<f:layout name="BackendLogin" />

<f:section name="Title">Login</f:section>

<f:section name="Content">
    <div>
        <div>
            <img src="{f:uri.resource(path: 'backend/images/logo.svg', package: 'Neniri.App')}">
            <span>Admin Control Panel</span>
        </div>
        <f:form action="authenticate" method="post">
            <fieldset>
                <input placeholder="{f:translate(id: 'email')}" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" type="email" autofocus required>
                <input placeholder="{f:translate(id: 'password')}" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]" type="password" value="" required>
                <div class="button">
                    <input type="submit" value="{f:translate(id: 'login')}" />
                </div>
            </fieldset>
        </f:form>
    </div>
</f:section>
