<f:layout name="BackendLogin" />

<f:section name="Title">Login</f:section>

<f:section name="Content">
    <div class="login-inner sm:min-w-0 min-w-[400px]">
        <div>
            <h1 class="font-bold mb-4 text-blue-900 text-xl text-center">Login to your account</h1>
        </div>
        <f:form action="authenticate" method="post">
            <fieldset class="flex gap-3 sm:block">
                <input class="form-input mb-3" placeholder="email address" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" type="email" autofocus required>
                <input class="form-input mb-3" placeholder="{f:translate(id: 'password')}" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]" type="password" value="" required>
            </fieldset>
            <div class="flex flex-col">
                <button class="btn btn-primary w-full mb-3 mx-auto flex justify-center" type="submit">
                    <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-log-in"><path d="M15 3h4a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-4"></path><polyline points="10 17 15 12 10 7"></polyline><line x1="15" y1="12" x2="3" y2="12"></line></svg>
                    <span>{f:translate(id: 'login')}</span>
                </button>
                {f:render(partial: 'Backend/Login/Links', arguments: { pwForgotten: true, login: false, signup: true })}
            </div>
        </f:form>
    </div>
</f:section>
