@charset "UTF-8";
/*!
Project: Neniri
Author: Rene Rehme (renerehme.dev)
Filename: Login.scss
Compiled file: Login.min.css
*/
@import '../../vendor/css/Normalize/normalize.css';
@import '../../vendor/css/StrawberryGrid/StrawberryGrid';

html {
  body {
    background: url('../images/dl-telekomcloud-01.jpg') no-repeat;
  }
}