@charset "UTF-8";
/*!
Project: Neniri
Author: Rene Rehme (renerehme.dev)
Filename: Login.scss
Compiled file: Login.min.css
*/
@import 'vendor/StrawberryGrid/StrawberryGrid';

html {
  body {
    background: url('../Images/dl-telekomcloud-01.jpg') no-repeat;
  }
}