<f:layout name="BackendLogin" />

<f:section name="Title">Signup</f:section>

<f:section name="Content">
    <div class="login-inner sm:min-w-0 min-w-[400px]">
        <div>
            <h1 class="font-bold text-blue-900 text-xl text-center">Let’s get you started</h1>
            <h2 class="mb-4 text-md text-center">What’s your email address?</h2>
        </div>
        <f:form action="signup" method="post">
            <fieldset class="flex gap-3 sm:block">
                <input class="form-input mb-3" placeholder="email address" name="email" type="email" required>
            </fieldset>
            <div class="flex flex-col">
                <button class="btn btn-primary w-full mb-3 mx-auto flex justify-center" type="submit">
                    <svg class="mr-3" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user-plus"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    <span>Sign up</span>
                </button>
                {f:render(partial: 'Backend/Components/Links', arguments: { pwForgotten: true, login: true, signup: false })}
            </div>
        </f:form>
    </div>
</f:section>
