<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns:neniri="http://typo3.org/ns/Neniri/App/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Neniri - <f:render section="Title" /></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rene Rehme (renerehme.dev)">
    <meta name="description" content="Neniri - Ticketing system">
</head>
<body>
<f:flashMessages class="flashmessages" />
<f:render section="Content" />
</body>
</html>