<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns:neniri="http://typo3.org/ns/Neniri/App/ViewHelpers"
      xmlns:neos="http://typo3.org/ns/Neos/Neos/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title>Neniri - <f:render section="Title" /></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rene Rehme (renerehme.dev)">
    <meta name="description" content="Neniri - ticketing system">
    <link href="{f:uri.resource(path: 'styles/app.css', package: 'Neniri.App')}" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'images/favicon/apple-touch-icon-180x180.png', package: 'Neniri.App')}">
    <link rel="shortcut icon" type="image/x-icon" href="{f:uri.resource(path: 'images/favicon/favicon-32x32.ico', package: 'Neniri.App')}">
    <link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'images/favicon/favicon-96x96.png', package: 'Neniri.App')}">
    <meta name="msapplication-square310x310logo" content="{f:uri.resource(path: 'images/favicon/mstile-310x310.pn', package: 'Neniri.App')}">
    <meta name="msapplication-TileColor" content="#204a87">
</head>
<body>
<header class="w-full bg-white">
    <div class="flex items-center py-3 container">
        <div class="font-bold text-blue-900 text-3xl mr-6">neniri</div>
        <div class="text-blue-900 text-md">a super simple ticketing system</div>
    </div>
</header>
<div class="flex">
    <div class="w-1/12 h-4 bg-indigo-700 bottom-0"></div>
    <div class="w-28 h-4 bg-indigo-400 bottom-0"></div>
    <div class="w-28 h-4 bg-indigo-300 bottom-0"></div>
    <div class="w-3/4 h-4 bg-indigo-600 bottom-0"></div>
    <div class="w-2/6 h-4 bg-indigo-300 bottom-0"></div>
</div>
<div class="custom-bg">
    <div class="w-1/4 h-10 bg-indigo-700 absolute bottom-0 left-0"></div>
    <div class="w-28 h-10 bg-indigo-400 absolute bottom-10 left-28 ani1"></div>
    <div class="w-28 h-10 bg-indigo-300 absolute -bottom-10 right-0"></div>
    <div class="w-3/4 h-10 bg-indigo-600 absolute bottom-0 right-28"></div>
    <div class="w-2/6 h-10 bg-indigo-300 absolute bottom-10 right-1/3"></div>
</div>
<f:flashMessages class="flashmessages" />
<div class="container">
    <f:render section="Content" />
</div>
</body>
</html>