<!DOCTYPE html>
<html lang="en">
<head>
    <title>Neniri - <f:render section="Title" /></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rene Rehme (renerehme.dev)">
    <meta name="description" content="Neniri - Admin Control Panel">
    <link href="{f:uri.resource(path: 'backend/styles/login.min.css', package: 'Neniri.App')}" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
<div class="login-wrapper">
    <div class="login-inner">
        <f:flashMessages class="flashmessages" />
        <f:render section="Content" />
    </div>
</div>
<script type="text/javascript" src="{f:uri.resource(path: 'vendor/js/jquery/jquery-3.6.0.min.js', package: 'Neniri.App')}"></script>
<script type="text/javascript" src="{f:uri.resource(path: 'backend/scripts/default.js', package: 'Neniri.App')}"></script>
</body>
</html>