<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <title><f:render section="Title" /></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rene Rehme (renerehme.dev)">
    <meta name="description" content="Neniri - Admin Control Panel">
    <link href="style.css" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="{f:uri.resource(path: 'images/favicon/apple-touch-icon-180x180.png', package: 'Neniri.App')}">
    <link rel="shortcut icon" type="image/x-icon" href="{f:uri.resource(path: 'images/favicon/favicon-32x32.ico', package: 'Neniri.App')}">
    <link rel="icon" type="image/png" sizes="96x96" href="{f:uri.resource(path: 'images/favicon/favicon-96x96.png', package: 'Neniri.App')}">
    <meta name="msapplication-square310x310logo" content="{f:uri.resource(path: 'images/favicon/mstile-310x310.pn', package: 'Neniri.App')}">
    <meta name="msapplication-TileColor" content="#204a87">
</head>
<body>
<f:flashMessages class="flashmessages" />
<div class="neniri-container">
    <header>
        <div>Logo</div>
        <div>Search</div>
        <div>Profile</div>
    </header>
    <main>
        <f:render section="Content" />
    </main>
    <footer>
        Neniri © 2021 - www.neniri.com
    </footer>
</div>
</body>
</html>