<!DOCTYPE html>
<html lang="en">
<head>
    <title><f:render section="Title" /></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Rene Rehme (renerehme.dev)">
    <meta name="description" content="Neniri - Admin Control Panel">
    <link href="style.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/favicon.svg">
</head>
<body>
<f:flashMessages class="flashmessages" />
<div class="neniri-container">
    <header>
        <div>Logo</div>
        <div>Search</div>
        <div>Profile</div>
    </header>
    <main>
        <f:render section="Content" />
    </main>
    <footer>
        Neniri © 2021 - www.neniri.com
    </footer>
</div>
</body>
</html>