<!DOCTYPE html>
<html xmlns:f="http://typo3.org/ns/Neos/FluidAdaptor/ViewHelpers"
      xmlns="http://www.w3.org/1999/xhtml"
      lang="en">

<f:layout name="Default" />

<f:section name="Title">Signup - Failure</f:section>

<f:section name="Content">
    <div class="login-inner">
        <div>
            <h1 class="font-bold mb-2 text-blue-900 text-xl text-center">Oh, that didn't work :(</h1>
            <h2 class="mb-4 text-md text-center">
                <f:if condition="{error} == 'NO_VALID_EMAIL'">
                    The given email address is not valid.
                </f:if>
            </h2>
        </div>
        {f:render(partial: 'Components/DefaultFooterLinks', arguments: { pwForgotten: false, login: false, signup: false })}
        <div class="flex justify-center">
            <f:link.action controller="Registration" action="index" class="btn mt-1">go back</f:link.action>
        </div>
    </div>
</f:section>

</html>